body {
    background-color: blanchedalmond;
    color: darkslategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: palevioletred;
    border: 1px solid paleturquoise;
}
.row {
    display: flex;
    flex-direction: row;
}
.cat {
    flex: 1;
    text-align: left;
    padding: 10%;
}
h2 {
    text-decoration: underline;
}
.center-align {
    text-align: center;
}